services:
  app:
    container_name: app
    restart: always
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - postgres
  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_DB: python_web # Name of the database
      POSTGRES_USER: postgres   # Username for the database
      POSTGRES_PASSWORD: admin # Password for the database user
    volumes:
      - ./data:/data/db
    ports:
      - "5432:5432"